%h1 Welcome to Kumquat e-Shop
%div
  = link_to 'List Of Products', products_path
- if current_user
  %div
    = link_to 'Create New Product', new_product_path
- unless current_user
  %div
    = link_to 'Sign Up', sign_up_path
  %div
    = link_to 'Sign In', sign_in_path
- if current_user
  %div
    = link_to 'Sign Out', sign_out_path, method: :delete


